<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div id="solicitanteModal" class="modal fade" role="dialog" th:fragment="modal">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"><strong>Pesquisa de Solicitantes</strong></h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
			<form  method="get" th:object="${empresaFilter}">
				<div class="row">			
					<div class="form-goup col-sm-10">
						<label class="control-label" for="cpesquisa">Nome</label>
						<div class="my-field-action">
							<div class="input-group">
								<input type="text" class="form-control" id="cpesquisa" placeholder="Buscar solicitante" th:field="*{cpesquisa}"
								name="cpesquisa" autofocus="autofocus"/>
								<div class="input-group-btn">
							      <button class="btn btn-info" type="submit">
									<i class="glyphicon glyphicon-search"></i>
							      </button>
    							</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			
			<div class="table-responsive my-table-simple">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="table-cerveja-col-acoes"></th>
							<th class="table-cerveja-col-mod">Código</th>
							<th class="table-cerveja-col-solicitante">Solicitante</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="empresa : ${empresas}">
							<td class="text-center">
								<input type="checkbox" th:value="*{empresa.nid_empresa}"/>
							</td>
							<td th:text="${empresa.nid_empresa}"></td>
							<td th:text="${empresa.cnome_empresa}"></td>
						</tr>
						<tr>
	   						<td colspan="6" th:if="${#lists.isEmpty(empresas)}">Nenhum registro foi encontrado</td>
	   					</tr>
					</tbody>
				</table>
			</div>
		</div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-primary">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>