<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout-padrao">

<head>
<title>CFI-Historicos</title>
</head>

<section layout:fragment="conteudo">	
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Agenda/Consultor</h1>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="form-group">
				<ul class="nav nav-tabs">
			 		<li role="presentation" ><a th:href="@{/atualizacoes}">Históricos/Atualizações</a></li>
			  		<li role="presentation" class="active"><a th:href="@{/agendas}">Agenda/Consultor</a></li>
				</ul>
			</div>
			<div class="form-group container-fluid">
				<form class="form-inline" method="get" th:object="${agendaFilter}">
					<div class="row">
						<div class="form-group">
						    <label for="dataInicio">Periodo:</label>
						    <input type="text" class="form-control" id="dataInicio" name="dataInicio" th:field="*{dataInicio}"
						    data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
								data-date-autoclose="true" data-date-today-highlight="false" data-date-start-date="01/01/1950" 
						   data-date-end-date="01/01/2100" data-date-force-parse="false"/>
						</div>
						  
						<div class="form-group">
						    <label for="dataFim">à</label>
							<input type="text" class="form-control" id="dataFim" name="dataFim" th:field="*{dataFim}"
							data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
							data-date-autoclose="true" data-date-today-highlight = "true" data-date-start-date="01/01/1950" 
						   data-date-end-date="01/01/2100" data-date-force-parse="false" />
						</div>
						
						<div class="form-group">
						    <label for="cid_usu">Consultor:</label>
						    <select	id="cid_usu" class="form-control" name="cid_usu" >
								<option value="">Selecione consultor</option>
								<option th:each="consultor : ${consultores}" th:text="${consultor.cnome_usuario}" th:value="${consultor.cid_usu}" th:field="*{cid_usu}"></option>
							</select>
						</div>
						<div class="form-group">
						    <label for="cstatus">Situação:</label>
						    <select	id="cstatus" class="form-control" name="cstatus" >
								<option th:each="status : ${situacoes}" th:text="${status}" th:value="${status.descricao}" th:field="*{cstatus}"></option>
							</select>
						</div>
						<div class="form-group">
						    <label for="id_empresa">Código:</label>
						    <input type="text" class="form-control" id="id_empresa" th:field="*{id_empresa}"/>
						</div>						
					</div>
					<div class="row" style="padding: 10px;">
						<div class="form-group">
						    <label for="cnome_empresa">Titular:</label>
						    <input type="text" class="form-control" id="cnome_empresa" disabled="disabled"/>
						</div>
						<div class="form-group">
							<a href="#" data-toggle="modal" data-target="#solicitanteModal">
								<i class="glyphicon glyphicon-search my-glyphicon-large"></i>
							</a>
						</div>						
						<div class="form-group">
							<button type="submit" class="btn btn-info">Pesquisar</button>
						</div>
					</div>
				</form>
			</div>
			
			<div class="table-responsive my-table-simple">
				<table class="table table-bordered">
					<thead>
						<tr class="bg-primary">
							<th class="text-center">
							Agenda
							<span class="caret"></span>
							</th>
							<th class="text-center">Dia</th>
							<th class="text-center">Hora</th>
							<th class="text-center">Consultor</th>
							<th class="text-center">Titular</th>
							<th class="text-center">Histórico</th>
							<th class="text-center">Situaçãos</th>							
						</tr>
					</thead>
					<tbody>
						<tr th:each="agenda : ${agendas.content}">
							<td th:text="${{agenda.ddata}}"></td>
							<td th:text="${agenda.csemana}"></td>
							<td th:text="${agenda.chora}"></td>
							<td th:text="${agenda.cnome_usuario}"></td>
							<td th:text="${agenda.cnome_empresa}"></td>
							<td th:text="${agenda.cobs}"></td>
							<td th:text="${agenda.cstatus}"></td>							
						</tr>
						<tr>
	   						<td colspan="7" th:if="${#lists.isEmpty(agendas.content)}">Nenhum registro foi encontrado</td>
	   					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-12 text-center" th:if="${not #lists.isEmpty(agendas.content)}">
				<nav>
					<ul class="pagination pagination-sm">
						<li th:class="${agendas.first} ? disabled">
							<a th:href="${agendas.urlToPage(agendas.number - 1)}" th:remove="${agendas.first} ? tag"><span>&laquo;</span></a>
						</li>
						<th:block th:each="p : ${#numbers.sequence(1, agendas.totalPages)}" th:with="numeroPagina=${p-1}, paginaAtual=${agendas.number} ">
						    <li th:class="${paginaAtual == numeroPagina} ? active">
						    	<a th:href="${agendas.urlToPage(numeroPagina)}"><span th:text="${p}"></span></a>
						    </li>				    
					    </th:block>							
						<li th:class="${agendas.last} ? disabled">
							<a th:href="${agendas.urlToPage(agendas.number + 1)}" th:remove="${agendas.last} ? tag"><span>&raquo;</span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	
<th:block th:replace="modal/TitularModal :: modal"></th:block>	
	 
</section>
<th:block layout:fragment="javascript-extra">	
	<script th:src="@{/js/handlebars.min.js}"></script>
	<script th:src="@{/js/empresaModal.js}"></script>
</th:block>
</html>